.accordion_header {
    cursor: pointer;
}

.accordion_body {
    font-weight: bold;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding-right: 10px;
}

.archieve_competition_body {
    font-size: 16px;
    border-top: 1px black solid;
    padding: 10px 20px;
}

.archieve_competition_body h3 {
    margin-top: 0;
    margin-bottom: 5px;
}

.archieve_competition_body a {
    font-size: 18px;
    font-family: "Montserrat bold";
    color: blue;  
}