.sponsors {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    gap: 100px
}

.sponsors img {
    height: 80px;
}

.footer {
    background-color: rgb(235, 215, 190);
    display: flex;
    gap: 45vw;
    vertical-align: bottom;
}

.footer_description {
    width: 30vw;
    margin: 30px 0 30px 100px;
}

.footer_contacts {
    margin: 30px 100px 30px 0
}
.footer_contacts a {
    padding: 1px;
    color: #373230;
    text-decoration: none;
    display: block;
}