@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Montserrat bold";
    src: url("../fonts/Montserrat-Bold.ttf");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Merriweather";
    src: url("../fonts/Merriweather-Regular.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

a {
    text-decoration: none;
    color: inherit;
}

main {
    margin: 30px 100px;
    display: flex;
    align-items: flex-start;
    gap: 2%;
}

.main_section {
    background-color: rgb(235, 215, 190);
    width: 70%;
    border-radius: 10px;
    border: 1px rgb(59, 53, 53) solid;
    padding: 30px 0;
}

aside {
    background-color: rgb(235, 215, 190);
    width: 28%;
    height: auto;
    border-radius: 10px;
    border: 1px rgb(57, 50, 50) solid;
}

.aside_content {
    margin: 15px;
}

.aside_header {
    font-family: "Montserrat bold";
    text-align: center;
    padding: 0;
    font-weight: bold;
    color:#514743
}
.aside_item{
    padding: 20px 10px;
    border-bottom: 1px rgb(38, 32, 32) solid;
    transition: all 0.1s ease-in-out 0s;
}
.aside_item:hover {
    background-color: #fff;
}
.aside_item > a {
    color: #373230;
    text-decoration: none;
}

h2 {
    font-family: "Montserrat bold";
    font-weight: bold;
    padding: 10px;
    margin: 0;
    margin-bottom: 15px;
    background-color: #FE8657;
    color: white;
    border-radius: 20px;
}

.main_article {
    margin: 0 30px 30px;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
}

.competition_content {
    display: flex;
    margin-bottom: 10px;
}

.competition-logo {
    align-content: center;
}

.competition-logo img{
    width: 10vw;
    height: auto;
}

.competition_description {
    font-size: 24px;
    padding: 15px 15px 15px 50px;
}

.competition_small_links {
    color: blue;
    font-weight: bold;
    margin-bottom: 10px;
}

.competition_descButt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.competition_buttons {
    font-size: 20px;
    font-family: "Montserrat bold";
    font-weight: bold;
    display:flex;
    gap: 50px;
}

.competition_descButt .competition_buttons {
    padding: 50px 0 0 50px;
}

.main_button, .second_button {
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;

}

.main_button {
    background-color: #FE8657;
    color: white;
}
.main_button:hover {
    background-color: #f6a582;
}

.second_button {
    background-color: #fff;
    color: #FE8657;
    border: #FE8657 solid 2px;
}
.second_button:hover {
    background-color: rgb(255, 237, 227);
}


.pagination {
    display: flex;
    margin: 0 20%;
    gap: 10px;
    justify-content: center;
}

.pagination_item {
    padding: 10px 20px;
    background-color: #FE8657;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    transition: all 0.2s ease-in-out 0s;
}
.pagination_item:hover {
    background-color: #f6a582;
}


.archieve_article {
    font-family: "Montserrat";
    background-color: rgb(235, 215, 190);
    padding-bottom: 0;
    margin-bottom: 10px;
}

.archieve_article h2 {
    padding: 20px;
}

.achievements_article {
    background-color: #fff;
    border-radius: 10px;
    margin: 0 30px 30px;
}
.achievements_article:last-child {
    margin: 0 30px;
}

.table_header {
    font-size: 26px;
    text-align: center;
    padding: 20px 20px;
    margin: 0;
    background-color: #fff;
    color:#514743;
}
.achievements_table {
    font-family: "Montserrat";
    font-weight: 700;
    padding: 20px;
    border-spacing: 0;
}
.achievements_table td, .achievements_table th {
    padding: 15px;
    text-align: center;
    border-top: 1px rgb(65, 56, 56) solid;
    border-left: 1px rgb(65, 56, 56) solid;
}
.achievements_table td:first-child, .achievements_table td:first-child {
    text-align: left;
}
.achievements_table tbody tr:last-child td {
    border-bottom: 1px #373230 solid;
}
.achievements_table td:last-child, .achievements_table th:last-child {
    border-right: 1px #373230 solid;
}
.achievements_table thead th:first-child {
    border-radius: 10px 0 0 0;
}
.achievements_table thead th:last-child {
    border-radius: 0 10px 0 0;
}
.achievements_table tbody tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}
.achievements_table tbody tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}



.sign-up_h2 {
    font-size: 26px;
    text-align: left;
    padding: 20px 20px;
    margin: 0;
    background-color: #fff;
    color:#514743;
}

.sign-up_paragraph {
    width: 95%;
    margin-left: 20px;
    margin-bottom: 20px;
}
.sign-up_paragraph a {
    color: #373230;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}
