.competition_day {
    padding: 0;
    font-family: "Montserrat";
    background-color: rgb(235, 215, 190);
    padding-top: 30px;
    border-top: 1px rgb(36, 33, 33) solid;
    border-radius: 0;
}

.competition_day_content {
    padding: 15px;
    background-color: #F8F4EE;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.competition_date {
    font-weight: bold;
}
.first_line {
    display: flex;
    gap: 30px;
    align-items: center;
}

.second_line {
    display: flex;
    gap: 30px;
    align-items: center;
}

.competition_link {
    display: inline-block;
    padding: 2px 20px;
    background-color: #fff;
    color: #FE8657;
    border: 1px #FE8657 solid;
    border-radius: 20px;
    transition: all 0.2s ease-in-out 0s;
}

.competition_link:hover {
    background-color: rgb(255, 237, 227);
}