* {
    box-sizing: border-box;
}

html {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #373230;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.main_nav {
    z-index: 2;
    font-family: "Montserrat bold";
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;           
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
    align-items: center;
    gap: 50px;
}

.menu_item{
    height: 100%;
    background-color: #FE8657;
    opacity: 0.8;
    padding: 12px 20px;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    transition: all 0.3s ease-in-out 0s;
}

.menu_item:hover {
    padding: 15px 24px;
}

.logo-img {
    height: 80px;
    width: auto;
    border-radius: 20px;
    display: block;
    opacity: 0.8;
}
